@media screen and (max-width: 576px) {

    #navbar {
        display: none;
    }
    #overview{
    width: 100%;
}
   #overview-txt {
    text-align: center;
    margin-bottom: 20px;   /* create space below paragraph */
}

#overview-txt br {
    display: none;
}

hr {
    display: block;
    width: 90%;
    margin: 0 auto;        /* center horizontally */
}
    #chart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-items: center;
        text-align: center;
    }
    #chart-1 {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  #chart-1 > div {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
  #characteristics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ht{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  #buttons{
    justify-content: center;
  }
  #ht>h4,p{
    text-align: center;
  }
  #ak{
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    #short-nav{
        display: none;
    }
}


@media screen and (min-width: 993px) {
    #short-nav{
        display: none;
    }
}